/* Hi ! */


/* Page */

html,body{
width:100%;
height:100%;
background-color : #BC1142;
}

#wrapp {
width : 98% ;
margin : auto ;
min-height : 100%;
background-color : white ;
}

#head {
width : 40% ;
margin : auto ;
font-size : 1.4em; 
}


/* H group */

h1 {
color : black;
font-size : 40px ;
padding-top : 15px ;
margin-bottom :-3px ;
text-align : center ;
font-family: 'Roboto', sans-serif;
font-weight: 100; 
} 

h2 {
color : black;
font-size : 0.95em;
font-family: 'Roboto', sans-serif;
font-weight: 200; 
text-align : center ;
margin-bottom : 10px ;
}

.trucUseless
{
color : #BC1142;
}


/* Form */

#formulaire
{
width : 480px;
height : 31px ;
margin :0  auto ;
text-align : center ;
background-color : #BC1142 ;
margin-bottom : 20px ;
}

input
{
width : 25px ;
}

label 
{
font : normal 0.85em 'Roboto' !important;
color : white ;
}


/* Tableau */

#tableau
{
width : 75% ;
margin : auto ;
}

table
{
border-collapse: collapse; 
margin :  0 auto ;
}

td, th
{
border: 1px solid black; 
}

/* Thead */

.jourTop
{
font-size : 1.1em ;
padding: 8px 0px 8px 5px;
width : 100px ;
text-align : center ;
}


.Heure
{
text-align : center ;
width : 50px ;
font-size : 1.05em ;
background-color : #BC1142;
color : white ;
}

.demiHeure
{
width : 50px ;
padding-left : 10px;
font-size : 0.8em ;
background-color : white ;
color :#BC1142;
}

/* Tbody */

.tjour
{
font-size : 1.1em ;
width : 100px ;
height : 100px ;
text-align : center ;
background-color : white ;
color : black ;
}

.pjour
{
padding-top : 22px;
}


/* Cellule */

.jourMatiere
{
text-align : center ;
padding : 0px 7px 0px 7px ;
}

.jourProf
{
text-align : center ;
padding-bottom : 2px ;
}

.jourSalle
{
text-align : center ;
font-style : italic ;
}

.cellule
{
font-family : serif ;
color : black ;
}

.vide
{
}


/* 1ere Cellule */

.jourJour
{

}

.jourNum
{
color : #BC1142;
}

.jourMois
{
font-style : italic ;
}



/* Couleurs */

.couleurClasseEntiere
{
background-color: #BC1142;
}

.couleurTP
{
background-color: #33B5E5;
}

.couleurTD
{
background-color: #99CC00;
}

/* Texte */


p {
font-weight: 400; 
}

a {
color : #BC1142 ;
text-decoration : none;
}


/* Divers */


::selection { 
background:#BC1142; 
color:white; 
} 

a
{
font-size : 0.8em ;
font-family : 'Roboto', serif ;
text-align : center ;
}

#footer
{
width : 300px;
margin : auto ;
margin-top : 25px ;
padding-bottom : 25px ;
}

/* Select */

#selectTP 
{
-webkit-appearance: none;
background-color : green ;
background-color : #33B5E5 ;
}
              
#selectTD 
{
-webkit-appearance: none;
background-color : green ;
background-color : #9C0 ;
}





